.page-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 83%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.register-container,
.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  height: 80%;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.login-container {
  transform: translate(-50%, -50%) translateX(0%);
  opacity: 1;
}

.register-container {
  transform: translate(-50%, -50%) translateX(-100%);
  opacity: 0;
}

.show-login {
  transform: translate(-50%, -50%) translateX(0%);
  opacity: 1;
}

.show-register {
  transform: translate(-50%, -50%) translateX(0%);
  opacity: 1;
}

.hidden {
  opacity: 0;
  transform: translate(-50%, -50%) translateX(100%);
}

.register-form input,
.login-form input  {
  box-sizing: border-box;
  background: #eee;
  padding: 20px 16px;
  margin: 8px 0;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 4px;
  padding-left: 60px;
}

.login-form-title,.register-form-title {
 font-size: 48px;
 padding: 10px;
 margin-top: -20px;
}

.login-button,.register-form-submit {
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
  padding: 13px;
  margin: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 85%;
  transition: transform 80ms ease-in;
  background: #d9dadf;
  color: black;
}

.another-login {
  margin-top: 24%;
  text-align: center;
  padding-top: 20px;
}

.separator {
  display: block;
  margin: 10px auto 0px;
  text-align: center;
  height: 30px;
  position: relative;
  background: transparent;
  color: rgba(15, 19, 42, 0.4); /* #0f132a 값을 RGB로 변경 */
  font-size: 13px;
  width: 90%;
  max-width: 680px;
}

.separator::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}

.separator::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  background: rgba(15, 19, 42, 0.2);
  height: 1px;
  width: 45%;
}

.another-login-components {
  padding-top: 18px;
  display: flex;
  gap: 10px;
}

.register-form-submit:hover,.login-button:hover{
  background-color:#eee
}

.confirm-message {
  color: tomato;
  font-size: 13px;
  margin: 0px;
}

#mobile-login-btn {
  position: absolute;
  color: black;
  background-color: transparent;
  font-size: 30px;
  top: 11%;
  left: 3%;
  opacity: 0.3;
  transition: all 0.2s linear;
}

#mobile-login-btn:hover{
  opacity: 1;
}

#mobile-register-div {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

#mobile-register-btn{
  font-weight: bold;
  cursor: pointer;
}

.typing-container {
  width: fit-content;
  margin: 0 auto;
}

.typing-text {
  font-size: 20px;
  color: #848484;
  font-weight: bold;
  white-space: nowrap; /* 텍스트가 한 줄에 표시되도록 */
  overflow: hidden; /* 텍스트가 넘치면 숨김 처리 */
  border-right: 2px solid black; /* 타이핑하는 커서처럼 보이도록 */
  animation: typing 1s steps(20) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

#email-login-icon{
  position: absolute;
  top: 37.5%;
  left: 18%;
  color: #92DCE5;
  font-size: 25px;
}

#pass-login-icon{
  position: absolute;
  top: 49.5%;
  left: 18%;
  color: #92DCE5;
  font-size: 25px;
}

#user-icon{
  position: absolute;
  top: 28%;
  left: 18%;
  color: #92DCE5;
  font-size: 25px;
}

#email-register-icon{
  position: absolute;
  top: 40.5%;
  left: 18%;
  color: #92DCE5;
  font-size: 25px;
}

#pass-register-icon{
  position: absolute;
  top: 52.5%;
  left: 18%;
  color: #92DCE5;
  font-size: 25px;
}

#naverIdLogin {
  z-index: 1000;
}