.app {
  display: flex;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  /* font-family: 'Arita Dotum', sans-serif; */
  background-color: #f0f0f0;
}

.app-header {
  background-color: #ffffff;
  color: black;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 9999;
  /* !!!!!!!!!!!!!!!!!!!!!!!!룩북 페이지랑 배너 ui 맞춤!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
  margin-bottom: 20px;
  height: 110px;
  border-bottom: 2px solid #e0e0e0;
  padding-top: 10px;
}

.sidebar-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 110px;
  left: 0;
  height: calc(100vh - 80px);
  background-color: #fff;
  /* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!11z-index: 1; 지움 */
}

.sidebar {
  width: 150px;
  padding: 10px;
  background-color: #fff;
  border-right: 2px solid #e0e0e0; /*!!!!!!!!!!!!!!!!!!디테일 맞춤!!!!!!!!!!!!!!!!*/
  height: 100%;
  box-sizing: border-box;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1수정 및 추가!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.sub-sidebar {
  width: 180px;
  padding: 10px;
  background-color: #fff;
  border-right: 2px solid #e0e0e0;
  height: 100%;
  box-sizing: border-box;
  transition: width 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  left: 150px;
}

.sub-sidebar.collapsed {
  width: 0;
  padding: 0;
  border: none;
  background-color: #fff;
}

.collapse-button {
  position: absolute;
  right: 0;
  top: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* 열렸을 때 */
.arrow-icon-expanded {
  transform: rotate(180deg);
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}
/* 접혔을 때 */
.arrow-icon-collapsed {
  display: none;
}

.main-expanded {
  margin-left: 330px; /* sub-sidebar 열렸을 때 */
}

.main-collapsed {
  margin-left: 150px; /* sub-sidebar 접혀있을 때 */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#main {
  flex-grow: 1;
  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!margin-left 삭제 !!!!!!!!!!!!!!!!!!!!!!!1*/
  padding: 30px;
  margin-top: 110px;
  background-color: #fff;
}

#h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* 상위 옵션 css */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1수정!!!!!!!!!!!!!!!!!! */
#h3 {
  color: #474747;
  font-size: 20px;
  cursor: pointer;
  margin: 10px 0;
  padding-bottom: 10px;
  border-right: 4px solid #bebebe;
}

.selected-option {
  background-color: #bebebe;
  color: rgb(250, 250, 250);
}

/* //////////////////////////클래스로 변경//////////////////////////////////////////////// */
.ul {
  list-style-type: none;
  padding: 10px;
}

.li {
  padding: 5px;
  cursor: pointer;
}

.li:hover {
  background-color: #f0f0f0;
}
/* ////////////////////////////////////////////////////////////////////////////////////// */

.prompt-container {
  margin: 20px 0;
  width: 80%;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.underlined {
  border-bottom: 1.5px solid #616161;
  padding: 2px;
}

/* 생성, 지우기, 저장 버튼*/
.button {
  padding: 10px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.image-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 80%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image-container img {
  width: 45%;
  height: auto;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* .navigation-buttons button 클래스 지움 */

.arrow-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;

  /* //////////////////////추가 /////////////////////////////////*/
  padding: 10px;
  margin: 0 5px;
}

.arrow-button:hover {
  background-color: #dbdbdb;
}

/* .save-button {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 0 10px;
  background-color: #0c0c0c;
  border-radius: 4px;
  color: #f0f0f0;
  cursor: pointer;
} */

.saved-images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.thumbnail-image {
  width: 150px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.thumbnail-wrapper {
  position: relative;
}

.image-checkbox {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

.edit-button,
.delete-button {
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 20px;
  background-color: #dbdbdb;
  color: #333333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.edit-button:hover,
.delete-button:hover {
  background-color: #b9b9b9;
}






/*!!!!!!!!!!!!!!!!!!!!!!!!!구혜연 수정 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.collapse-button:hover{
  background-color: transparent;
}